[submodule "evernote"]
	path = evernote
	url = git://github.com/evernote/evernote-sdk-python/
[submodule "ankicmd"]
	path = ankicmd
	url = https://github.com/limijd/ankicmd.git
[submodule "myDictDB"]
	path = myDictDB
	url = /Users/wli/Dropbox/git.repository/myDictDB/
